
body{
    background-image: url(background.jpeg);
}

.titles{
    color:rgb(41, 39, 39);
}

.container{
    margin: 0 auto;
    text-align: center;
    width: 500px;
    background-color:rgb(132, 149, 132);
    border: 5px solid white;
    padding: 20px;
}

.responses{
    text-align: center;
    padding: 0px 10px 20px;
    margin: 0 auto;
    width:300px;
}

.options{
    display: inline-block;
}

.correct{
    background-color: rgb(103, 231, 103);
}

.incorrect{
    background-color: red;
}